<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <title>Luxury Wheels - Comprovante de Pagamento</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cosmo/bootstrap.min.css" integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous">
    <!-- Arquivo main.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Comprovante de Pagamento</h1>
            </div>
            <div class="card-body">
                <h3 class="card-title">Detalhes do Aluguer</h3>
                <p>Veículo Alugado: {{ veiculo.nome }}</p>
                <p>Preço do Aluguer: {{ valor_total_pago }} Euros</p>
                <p>Data do Aluguer: de {{ data_retirada }} até {{ data_devolucao }}</p>
            </div>
            <div class="card-body">
                <h3 class="card-title">Informações do Cliente</h3>
                <p>Nome: {{ nome_cliente }}</p>
                <p>Email: {{ email_cliente }}</p>
            </div>
            <div class="card-footer">
                <p class="text-center">Obrigado por escolher a Luxury Wheels para o seu aluguer de veículo!</p>
            </div>
        </div>
    </div>
</body>
</html>
